<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="per.freetalk.mapper.FtCollectedMapper" >
  <resultMap id="BaseResultMap" type="per.freetalk.pojo.FtCollected" >
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="UID" property="uid" jdbcType="BIGINT" />
    <result column="SID" property="sid" jdbcType="BIGINT" />
    <result column="UPID" property="upid" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, UID, SID, UPID
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="per.freetalk.pojo.FtCollectedExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ft_collected
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from ft_collected
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from ft_collected
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="per.freetalk.pojo.FtCollectedExample" >
    delete from ft_collected
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="per.freetalk.pojo.FtCollected" >
    insert into ft_collected (ID, UID, SID, UPID
      )
    values (#{id,jdbcType=BIGINT}, #{uid,jdbcType=BIGINT}, #{sid,jdbcType=BIGINT}, #{upid,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="per.freetalk.pojo.FtCollected" >
    insert into ft_collected
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="uid != null" >
        UID,
      </if>
      <if test="sid != null" >
        SID,
      </if>
      <if test="upid != null" >
        UPID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=BIGINT},
      </if>
      <if test="sid != null" >
        #{sid,jdbcType=BIGINT},
      </if>
      <if test="upid != null" >
        #{upid,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="per.freetalk.pojo.FtCollectedExample" resultType="java.lang.Integer" >
    select count(*) from ft_collected
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update ft_collected
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.uid != null" >
        UID = #{record.uid,jdbcType=BIGINT},
      </if>
      <if test="record.sid != null" >
        SID = #{record.sid,jdbcType=BIGINT},
      </if>
      <if test="record.upid != null" >
        UPID = #{record.upid,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update ft_collected
    set ID = #{record.id,jdbcType=BIGINT},
      UID = #{record.uid,jdbcType=BIGINT},
      SID = #{record.sid,jdbcType=BIGINT},
      UPID = #{record.upid,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="per.freetalk.pojo.FtCollected" >
    update ft_collected
    <set >
      <if test="uid != null" >
        UID = #{uid,jdbcType=BIGINT},
      </if>
      <if test="sid != null" >
        SID = #{sid,jdbcType=BIGINT},
      </if>
      <if test="upid != null" >
        UPID = #{upid,jdbcType=BIGINT},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="per.freetalk.pojo.FtCollected" >
    update ft_collected
    set UID = #{uid,jdbcType=BIGINT},
      SID = #{sid,jdbcType=BIGINT},
      UPID = #{upid,jdbcType=BIGINT}
    where ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>